#enemyName enemyRaceOrUnknownIfRandom isJustAHint is4PoolBO isSpeedlingBO isHydraRushBO isMutaRushBO isSpeedlingPushDeferred isEnemyWorkerRusher isNumSunkensSpecificVsRace numSunkens optionalNumSunkensVsProtoss optionalNumSunkensVsTerran optionalNumSunkensVsZerg 1
ExampleZergBotName        Zerg    0 0 1 0 1 0 0 0  3 1
ExampleRandomBotName      Unknown 0 0 0 0 1 0 0 1  5 5 3 3 1
BotNameWeakVs4Pool        Protoss 0 1 0 0 1 0 0 0  1 1
BotNameWeakVs4PoolMaybe   Protoss 1 1 0 0 1 0 0 0  1 1
BotNameWeakVsSpeedling    Protoss 0 0 1 0 1 0 0 0  1 1
BotNameWeakVsHydra        Protoss 0 0 0 1 1 0 0 0  1 1
BotNameWeakVsMuta         Protoss 0 0 0 0 1 0 0 0  1 1
BotNameWeakVsLotsSunkens  Protoss 0 0 0 0 1 0 0 0 17 1
